
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-container {
color: #f8f8f8;
background-color: #1F2937; 
padding: 20px 0;
display: flex;
justify-content: center;
}

.header-container {
color: #E5E7EB;
background-color: #1F2937; 
padding: 30px;
display: flex;
justify-content: left;
text-align: left;

}

.menu {
width: 900px;
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
}

.links {
display: flex;
justify-content: flex-end;
gap: 1rem;
}

a:link {
text-decoration: none;
color: #E5E7EB;
}

a:visited {
text-decoration: none;
color: #E5E7EB;
}

.header-container div {
display: flex;
flex: 1;
}

.header-container {
height: 300px;
text-align: left;
}

.right-header-container {
text-align: center;
}

.right-header-container img {
max-width:100%;
max-height:78%;
}

.left-header-container {
flex-direction: column;
color: #F9FAF8;
}

.left-header-container p {
text-align: center;
width: 80%;
height: auto;
}

.subtext {
max-height: 10%;
width: auto;
color: #E5E7EB;
}

.header div {
align-items: center;
/* border: 1px solid #fff; */
justify-content: center;
}

footer {
background-color: #1F2937;
display: flex;
flex: auto;
height: 5vh;
color: #E5E7EB;
text-align: center;
justify-content: center;
padding: 10px;
}

.card {
background-color: #f6f6f6;
display: flex;
border: 5px solid #0276db;
border-radius: 20px;
align-items: center;
width: 200px;
height: 200px;
}

.main-container {
display: flex;
height: 40vh;
justify-content: center;
gap: 48px;
margin-top: 45px;
}

.quote-container {
height: 25vh;
background-color: #E5E7EB;
}

.quote {
padding: 50px;
text-align: center;
margin-left: 10vh;
margin-right: 10vh;
color: #1F2937;
font-style: italic;
font-weight:lighter;
}

.main-text {
justify-content: center;
display: flex;
flex: 1;
color: #1F2937; 
margin: 48px;
font-weight: 1100px;
font-size: 38px;
font-weight: bold;
}

.last-container {
display: flex;
height: 30vh;
justify-content: center;
}

.blue-box {
display: flex;
background-color: #3882F6;
color: #E5E7EB;
max-width: 65;
margin: 48px;
flex: 1;
border-radius: 10px;
}

button {
padding: 10px 20px;
font-size: 14px;
text-align: center;
text-decoration: none;
width: 125px;
cursor: pointer;
background-color: #3882F6;
color: #F9FAF8;
border: none;
border-radius: 8px;
transition: background-color 0.3s ease;
}

.button {
border: 1px solid #fff;
margin-left: 300px;
margin-top: 30px;
} 

.right-text {
justify-content: right;
text-align: right;
}

.left-text {
justify-content: left;
text-align: left;
padding: 30px;

}