
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-container {
color: #f8f8f8;
background-color: #1F2937; 
padding: 20px 0;
display: flex;
justify-content: center;
}

.header-container {
color: #E5E7EB;
background-color: #1F2937; 
padding: 20px 0;
display: flex;
justify-content: center;
}

.header-subtext {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.menu {
width: 900px;
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
}

.links {
display: flex;
justify-content: flex-end;
gap: 1rem;
}

a:link {
text-decoration: none;
color: #E5E7EB;
}

a:visited {
text-decoration: none;
color: #E5E7EB;
}

.header-container div {
display: flex;
flex: 1;
}

.header-container {
height: 300px;
}

.right-header-container {
text-align: center;
}

.right-header-container img {
max-width:100%;
max-height:78%;
}

.header div {
align-items: center;
border: 1px solid #fff;
justify-content: center;
}

footer {
background-color: #1F2937;
display: flex;
flex: auto;
height: 5vh;
color: #E5E7EB;
text-align: center;
justify-content: center;
padding: 10px;
}

.card {
background-color: #f6f6f6;
display: flex;
border: 5px solid #0276db;
border-radius: 20px;
align-items: center;
width: 200px;
height: 200px;
}

.main-container {
display: flex;
height: 40vh;
justify-content: center;
gap: 48px;
margin-top: 45px;
}

.quote-container {
height: 25vh;
background-color: #E5E7EB;
color: rgb(7, 7, 7);
}

.quote {
padding: 50px;
text-align: center;
margin-left: 10vh;
margin-right: 10vh;
}

.main-text {
justify-content: center;
display: flex;
flex: 1;
color: #1F2937; 
margin: 48px;
font-weight: 1100px;
font-size: 38px;
font-weight: bold;
}

.last-container {
display: flex;
height: 30vh;
justify-content: center;
}

.blue-box {
margin-top: 60px;
background-color: #3882F6;
color: #E5E7EB;
margin-bottom:60px;
border-radius: 15px;
padding: 30px;
align-items: center;
}

